<a href="https://colab.research.google.com/github/HemavathiRamamoorthy/Python/blob/main/ConditionalStmtAndLoopsAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conditional Statement Assignment**

# 1. Take two integer values from the user and print greatest among them.

In [ ]:
num1 = int(input("Enter first number: "))      
num2 = int(input("Enter second number: ")) 
greatest = num1 if num1>num2 else num2
print(greatest)

Enter first number: 10
Enter second number: 20
20

# 2. Write a program that reads an integer from the user. Then your program should display a message indicating whether the integer is even or odd.

In [ ]:
num = int(input("Enter a number: "))
oddOrEven = "Even" if num%2==0 else "Odd"
print("The given number is ",oddOrEven)

Enter a number: 545
The given number is  Odd

# 3. Create a program that reads a letter of the alphabet from the user. If the user enters a, e, i, o or u then your program should display a message indicating that the entered letter is a vowel. If the user enters y then your program should display a message indicating that sometimes y is a vowel, and sometimes y is a consonant. Otherwise your program should display a message indicating that the letter is a consonant.

In [ ]:
l = input("Enter a letter: ")

if l in ('a', 'e', 'i', 'o', 'u'):
	print("%s is a vowel." % l)
elif l == 'y':
	print("Sometimes y is a vowel, sometimes y is a consonant.")
else:
	print("%s is a consonant." % l)

Enter a letter: y
Sometimes y is a vowel, sometimes y is a consonant.

# 4. A triangle can be classified based on the lengths of its sides as equilateral, isosceles or scalene. All three sides of an equilateral triangle have the same length. An isosceles triangle has two sides that are the same length, and a third side that is a different length. If all of the sides have different lengths then the triangle is scalene. Write a program that reads the lengths of the three sides of a triangle from the user. Then display a message that states the triangleâ€™s type.

In [ ]:
print("Input lengths of the triangle sides: ")
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))

if x == y == z:
	print("Equilateral triangle")
elif x==y or y==z or z==x:
	print("isosceles triangle")
else:
	print("Scalene triangle")

Input lengths of the triangle sides:
x: 3
y: 4
z: 5
Scalene triangle

# 5. Write a program that determines the name of a shape from its number of sides. Read the number of sides from the user and then report the appropriate name as part of a meaningful message. Your program should support shapes with anywhere from 3 up to (and including) 10 sides. If a number of sides outside of this range is entered then your program should display an appropriate error message.

In [ ]:
def shape(i):
  switcher={
                0:'No shape with 0 side',
                1:'No shape with one side',
                2:'No shape with two side',
                3:'Triangle',
                4:'Square',
                5:'Pentagon',
                6:'Hexagon',
                7:'Heptagon',
                8:'Octagon',
                9:'Nonagon',
                10:'Decagon'
             }
  return switcher.get(i,'Invalid number of sides')

In [ ]:
i = int(input("Enter number of sides: "))
print(shape(i))

Enter number of sides: 8
Octagon

# 6. A shop will give a discount of 10% if the cost of the purchased quantity is more than 1000. Ask the user for quantity, suppose, one unit will cost 100. Judge and print total cost for user.

In [ ]:
quantity = int(input("Enter quantity: "))
if (quantity*100)>1000:
  print ("Cost is",(quantity*100)-(.1*quantity*100))
else:
    print ("Cost is",quantity*100)

Enter quantity: 9
Cost is 900

#7. Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
age1=int(input('Enter age of  Person1: '))
age2=int(input('Enter age of  Person2: '))
age3=int(input('Enter age of  Person2: '))
if age1>age2 and age1>age3:
    print('Person1 is oldest')
elif age2>age1 and age2>age3:
    print('Person2 is oldest')
else:
    print('Person3 is oldest')
if age1<age2 and age1<age3:
    print('Person1 is youngest')
elif age2<age1 and age2<age3:
    print('Person2 is youngest')
else:
     print('Person3 is youngest')

Enter age of  Person1: 44
Enter age of  Person2: 90
Enter age of  Person2: 33
Person2 is oldest
Person3 is youngest

# 8. A company decided to give a bonus of 5% to an employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
salary = int(input("Enter your salary:"))
service_yrs = int(input("Enter Years of service:"))
if service_yrs > 5:
    print("Yours salary+Bonus = ",salary + (salary)*5/100)
else:
     print("You are not eligible for bonus as you have less service years.")

Enter your salary:10000
Enter Years of service:8
Yours salary+Bonus =  10500.0

# 9. Write a program to check if a year is leap year or not. If a year is divisible by 4 then it is leap year but if the year is a century year like 2000, 1900, 2100 then it must be divisible by 400.

In [ ]:
yr = int(input("Enter a year :: "))
if((yr%4==0 and yr%100!=0) or (yr%400==0)):
  print(yr,' is leap year')
else:
  print(yr,' is not a leap year')

Enter a year :: 2100
2100  is not a leap year

# 10. Accept d1 and d2 as input. First, check to see that they are in the proper range for dice. If not, print a message. Otherwise, determine the outcome if this is the come out roll. If the sum is 7 or 11, print the winner. If the sum is 2, 3 or 12, print loser. Otherwise print the point.

In [ ]:
d1=int(input("Enter d1 :: "))
d2=int(input("Enter d2 :: "))
if(d1>=1 and d1<=6 and d2>=1 and d2<=6):
  sum=d1+d2
  if(sum==7 or sum==11):
    print("Winner")
  elif(sum==2 or sum==3 or sum==12):
    print("Loser")
  else:
    print(sum)
else:
    print("Invalid input")

Enter d1 :: 3
Enter d2 :: 4
Winner

# 11. Write a python program to display the number of days in a month name from the given list of months or month number entered by user.

In [ ]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Enter a Month name: ")

if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
	print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Enter a Month name: August
No. of days: 31 day

# 12. Write a Python program to get next day of a given date.

In [ ]:
date=str(input("Enter date in dd mm yyyy format :: "))
day, month, year = (int(i) for i in date.split(' '))   
if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [dd-mm-yyyy] %d-%d-%d." % (day,month,year))

Enter date in dd mm yyyy format :: 31 12 2020
The next date is [dd-mm-yyyy] 1-1-2021.

 **Loops Assignment:**

# 1. Print First 10 natural numbers using while loop

In [ ]:
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# 2. Display -10 to -1 using for loop

In [ ]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# 3. Write a python program to print the factorial of a given number

In [ ]:
def factorial(n):
     
    return 1 if (n==1 or n==0) else n * factorial(n - 1);
 

num = 5;
print("Factorial of",num,"is",factorial(num))

Factorial of 5 is 120

# 4. Write a python program to print all prime numbers between 0 to 100 , and print how many prime numbers are there.

In [ ]:
primeList=[]
for num in range(0, 101):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
          # print(num)
           primeList.append(num)


          
print('Prime numbers in between 0 to 100 are \n',primeList)
print('Number of prime numbers are ',len(primeList))

Prime numbers in between 0 to 100 are
 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
Number of prime numbers are  25

# 5. Print the following pattern : 
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [ ]:
def numpat(n):
    num = 1
    for i in range(0, n):
        num = 1
        for j in range(0, i+1):
            print(num, end=" ")
            num = num + 1
     
        print("\r")
 
n = 5
numpat(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 6. Accept n number from user and calculate the sum of all number between 1 and n including n

In [ ]:
n = int(input("Enter number ::  "))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of numbers is: ", sum)

Enter number ::  5
Sum of numbers is:  15

#7. Given a number count the total number of digits in a number.

In [ ]:
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:34579564
The number of digits in the number are: 8

# 8. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [ ]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Input a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

#9. Reverse the following list using for loop list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
reversedList=[]
for i in range( len(list1) - 1, -1, -1) :
    reversedList.append(list1[i])


print(reversedList)

[50, 40, 30, 20, 10]

# 10. Write a Python program to construct the following pattern, using a nested for loop.  (Star pattern)

*
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
k=3
for i in range(9):
    if i<=4:
        for j in range(i+1):
            print(" * ",end="")
        print("\n")
    elif i>4 :
        for j in range(k+1):
            print(" * ",end="")
        print("\n")
        k=k-1

 *

 *  *

 *  *  *

 *  *  *  *

 *  *  *  *  *

 *  *  *  *

 *  *  *

 *  *

 *

# 11. Write a Python program that accepts a string and calculate the number of digits and letters.

In [ ]:
s = input("Input a string :: ")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass

print("Digits", d)
print("Letters", l)

Input a string ::  Hai Welcome 1343943
Digits 7
Letters 10

# 12. From a list containing ints, strings and floats, make three lists to store them separately.

In [ ]:
w=[2, 3.0,4.3,"hello world", 5, 4.3]
x=[]
y=[]
z=[]

for i in w:
    if type(i)==int:
        x.append(i)
    elif type(i)==float:
        y.append(i)
    elif type(i)==str:
        z.append(i)

print("Integer List :: ",x)
print("String List  :: ",z)
print("Float List   :: ",y)

Integer List ::  [2, 5]
String List  ::  ['hello world']
Float List   ::  [3.0, 4.3, 4.3]