<a href="https://colab.research.google.com/github/HemavathiRamamoorthy/Python/blob/main/Functions_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNCTIONS AND OUTCOMES

> **Best way of programming is done by dividing a big program into smaller modules and repeatedly call these modules.**

> **Can be achieved by using functions**

> **Code's Readability and flow of execution of small modules can be managed easily**

In [ ]:
# Syntax and Basics of a Function

In [ ]:
def function_name(Parameters):  # -----------------> Function Header
############# Function Body #############
    statement1 
    statement2
    statement3
    #---------
    #---------
    statementN

#### ***def*** - Keyword which signifies the beginning of the function's definition. Name of Function is followed by function's definition
#### ***Function Header*** -  may contain zero or more number of parmeters. These are called Formal Parameters.
#### ***Function's Body*** -  is block of statements which defines the actions.

# Function Junction

In [ ]:
def display():
    """Prints 'Hello World!' to the console."""
    print("Hello World!")

# Call and Response

**After defining a function, it must be called to be implemented.**

In [ ]:
display()

Hello World!

The return statement
The return statement is used at the end of the function and returns the result of the function. It terminates the function execution and transfers the result where the function is called. The return statement cannot be used outside of the function.

Syntax return [expression_list]

In [ ]:
#Example1
# Defining function  
def sum():  
    a = 10  
    b = 20  
    c = a+b  
    return c  
# calling sum() function in print statement  
print("The sum is:",sum())

The sum is: 30

In [ ]:
#Example 2 Creating function without return statement
# Defining function  
def sum():  
    a = 10  
    b = 20  
    c = a+b  
# calling sum() function in print statement  
print(sum())

None

In [ ]:
#Example 3 Creating function without return statement
# Defining function  
def sum():  
    a = 10  
    b = 20  
    c = a+b  
    print(c)
# calling sum() function in print statement  
sum()

30

#### Write program to add the sum of numbers starting from 1 to 25, 50 to 75 and 90 to 100 using three different for loops

In [ ]:
sum = 0
for i in range(1,26):
    sum = sum+i
print("Sum of integers from 1 to 25 is = ", sum)

sum = 0
for i in range(50,76):
    sum = sum + i
print("Sum of integers from 50 to 75 is = ", sum)

sum = 0
for i in range(90, 101):
    sum = sum + i
print("Sum of integers from 90 to 100 is = ", sum)

Sum of integers from 1 to 25 is =  325
Sum of integers from 50 to 75 is =  1625
Sum of integers from 90 to 100 is =  1045

#### Simplifying the above program using Functions

In [ ]:
def sum(x,y):
    sum = 0
    for i in range(x,y+1):
        sum = sum + i
    print('Sum of integers from {} to {} is {}'.format(x,y,sum))

In [ ]:
sum(1,25)
sum(50,75)
sum(90,100)
sum(400,600)

Sum of integers from 1 to 25 is 325
Sum of integers from 50 to 75 is 1625
Sum of integers from 90 to 100 is 1045
Sum of integers from 400 to 600 is 100500

In [ ]:
def square(n):
    squared = n ** 2
    print ("%d squared is %d." % (n, squared))
    #return squared

- %d is used as a place holder for numeric or decimal values.
- %s is used for strings

In [ ]:
square(6)

6 squared is 36.

# Parameters and Arguments

- %d is used as a placeholder for numeric or decimal values
- The %d is for numbers, and %s is for strings.

Arguments in function
The arguments are types of information which can be passed into the function. The arguments are specified in the parentheses. We can pass any number of arguments, but they must be separate them with a comma.

Consider the following example, which contains a function that accepts a string as the argument.

In [ ]:
#defining the function    
def func (name):    
    print("Hi ",name)   
#calling the function     
func("Devansh")

Hi  Devansh

In [ ]:
#Python function to calculate the sum of two variables     
#defining the function    
def sum (a,b):    
    return a+b;    
    
#taking values from the user    
a = int(input("Enter a: "))    
b = int(input("Enter b: "))    
    
#printing the sum of a and b    
print("Sum = ",sum(a,b))

Enter a: 3
Enter b: 2
Sum =  5

Call by reference in Python
In Python, call by reference means passing the actual value as an argument in the function. All the functions are called by reference, i.e., all the changes made to the reference inside the function revert back to the original value referred by the reference.

In [ ]:
#Example 1 Passing mutable Object (List)
#defining the function    
def change_list(list1):    
    list1.append(20)   
    list1.append(30)    
    print("list inside function = ",list1)    
    
#defining the list    
list1 = [10,30,40,50]    

#calling the function     
change_list(list1)  
print("list outside function = ",list1)

list inside function =  [10, 30, 40, 50, 20, 30]
list outside function =  [10, 30, 40, 50, 20, 30]

In [ ]:
#Example 2 Passing imMutable Object (String)
#defining the function    
def change_string (str):    
    str = str + " Hows you "  
    print("printing the string inside function :",str)  
    
string1 = "Hi I am there"    
    
#calling the function    
change_string(string1)    
    
print("printing the string outside function :",string1)

printing the string inside function : Hi I am there Hows you
printing the string outside function : Hi I am there

Types of arguments
There may be several types of arguments which can be passed at the time of function call.
1. Required arguments
2.Keyword arguments
3.Default arguments
4.Variable-length arguments

**Required Arguments/Positional Arguments**
However, we can provide the arguments at the time of the function call. As far as the required arguments are concerned, these are the arguments which are required to be passed at the time of function calling with the exact match of their positions in the function call and function definition. If either of the arguments is not provided in the function call, or the position of the arguments is changed, the Python interpreter will show the error.

In [ ]:
def func(name):    
    message = "Hi "+name  
    return message  
name = input("Enter the name:")    
print(func(name))

Enter the name:55
Hi 55

In [ ]:
#the function simple_interest accepts three arguments and returns the simple interest accordingly    
def simple_interest(p,t,r):    
    return (p*t*r)/100    
p = float(input("Enter the principle amount? "))    
r = float(input("Enter the rate of interest? "))    
t = float(input("Enter the time in years? "))    
print("Simple Interest: ",simple_interest(p,t,r))

Enter the principle amount? 2000
Enter the rate of interest? 5
Enter the time in years? 2
Simple Interest:  200.0

In [ ]:
#the function calculate returns the sum of two arguments a and b    
def calculate(a,b):    
    return a+b    
calculate(10) # this causes an error as we are missing a required arguments b.

TypeError: ignored

In [ ]:
complex(imag=5,real=3)

(3+5j)

In [ ]:
complex(3,5)

(3+5j)

In [ ]:
complex(3, 5)

(3+5j)

In [ ]:
def Positional_Arguments(place, pincode):
    print("Place = {} and Pincode = {}".format(place, pincode))
Positional_Arguments("Hyderabad", 500082)
Positional_Arguments(500019,"Nizampet")

Place = Hyderabad and Pincode = 500082
Place = 500019 and Pincode = Nizampet

**Default Arguments**
Python allows us to initialize the arguments at the function definition. If the value of any of the arguments is not provided at the time of function call, then that argument can be initialized with the value given in the definition even if the argument is not specified at the function call.

In [ ]:
def printme(name,age=22):    
    print("My name is",name,"and age is",age)    
printme(name = "john")

My name is john and age is 22

In [ ]:
def printme(name,age=22):    
    print("My name is",name,"and age is",age)    
printme(name = "john") #the variable age is not passed into the function however the default value of age is considered in the function    
printme(age = 10,name="David") #the value of age is overwritten here, 10 will be printed as age

My name is john and age is 22
My name is David and age is 10

In [ ]:
def area_circle(r,pi=3.14):
    Area = pi*r**2
    print("Area of Circle is multiplying the square of radius = {} with pi = {} and the result = {} ".format(r,pi,Area))

In [ ]:
area_circle(5)

Area of Circle is multiplying the square of radius = 5 with pi = 3.14 and the result = 78.5

# Overriding the Default Arguments is possible ?

***Yes, it's possible***

In [ ]:
area_circle(5,10)

Area of Circle is multiplying the square of radius = 5 with pi = 10 and the result = 250

# Keyword Arguments
Python allows us to call the function with the keyword arguments. This kind of function call will enable us to pass the arguments in the random order. The name of the arguments is treated as the keywords and matched in the function calling and definition. If the same match is found, the values of the arguments are copied in the function definition.

In [ ]:
#function func is called with the name and message as the keyword arguments    
def func(name,message):    
    print("printing the message with",name,"and ",message)    
      
    #name and message is copied with the values John and hello respectively    
func(name = "John",message="hello")

printing the message with John and  hello

In [ ]:
#The function simple_interest(p, t, r) is called with the keyword arguments the order of arguments doesn't matter in this case    
def simple_interest(p,t,r):    
    return (p*t*r)/100    
print("Simple Interest: ",simple_interest(t=10,r=10,p=1900))

Simple Interest:  1900.0

In [ ]:
#The function simple_interest(p, t, r) is called with the keyword arguments.     
def simple_interest(p,t,r):    
    return (p*t*r)/100    
  
# doesn't find the exact match of the name of the arguments (keywords)      
print("Simple Interest: ",simple_interest(time=10,rate=10,principle=1900))

TypeError: ignored

In [ ]:
def show(name,age):
    print("Name = {}, Age = {}".format(name,age))
    
show(age = 70, name = 'Rajinikanth')

Name = Rajinikanth, Age = 70

The Python allows us to provide the mix of the required arguments and keyword arguments at the time of function call. However, the required argument must not be given after the keyword argument, i.e., once the keyword argument is encountered in the function call, the following arguments must also be the keyword arguments.

In [ ]:
def func(name1,message,name2):    
    print("printing the message with",name1,",",message,",and",name2)    
#the first argument is not the keyword argument    
func("John",message="hello",name2="David")

printing the message with John , hello ,and David

In [ ]:
def func(name1,message,name2):   
    print("printing the message with",name1,",",message,",and",name2)    
func("John",message="hello","David")

SyntaxError: ignored

In [ ]:
#Many arguments using Keyword argument

def food(**kwargs):  
    print(kwargs)  
food(a="Apple")  
food(fruits="Orange", Vagitables="Carrot")

{'a': 'Apple'}
{'fruits': 'Orange', 'Vagitables': 'Carrot'}

# Variable-length Arguments (*args) 
In large projects, sometimes we may not know the number of arguments to be passed in advance. In such cases, Python provides us the flexibility to offer the comma-separated values which are internally treated as tuples at the function call. By using the variable-length arguments, we can pass any number of arguments.

However, at the function definition, we define the variable-length argument using the *args (star) as *<variable - name >.

In [ ]:
def printme(*names):    
    print("type of passed argument is ",type(names))    
    print("printing the passed arguments...")    
    for name in names:    
        print(name)    
printme("john","David","smith","nick")

type of passed argument is  <class 'tuple'>
printing the passed arguments...
john
David
smith
nick

# Local and Global Scope of a Variables

- ***Variables and parameters that are initialized within a function including parameters, are said to be exist in that function's local scope. Variables that exist in local scope are local variables***
- ***Variables that are assigned outside function are said to exist in global scope. Therefore, variables that exist in global scope are called global variables***

In [ ]:
def print_a():    
    a1 = 10 # the variable message is local to the function itself    
    print(a1)    
print_a()    
print(a1)

10

NameError: ignored

In [ ]:
def print_message():    
    message = "hello !! I am going to print a message." # the variable message is local to the function itself    
    print(message)    
print_message()    
print(message) # this will cause an error since a local variable cannot be accessible here.

hello !! I am going to print a message.

NameError: ignored

Example 2 Global Variable

In [ ]:
def calculate(*args):    
    sum=0    
    for arg in args:    
        sum = sum +arg    
    print("The sum is",sum)    
sum=0    
calculate(10,20,30) #60 will be printed as the sum    
print("Value of sum outside the function:",sum) # 0 will be printed  Output:

The sum is 60
Value of sum outside the function: 0

14.11.2021

In [ ]:
p = 20
def global_local_example():
    q = 10
    print("Local Variable value",q)
    print("Global Variable value",p)
print("Global Variable value accessing outside function",p)
#print("Local Variable value",q)
global_local_example()

Global Variable value accessing outside function 20
Local Variable value 10
Global Variable value 20

# Local and Global Variables with same name

In [ ]:
a = 20
def same():
    a = 10
    print(a)
same()
print(a)

10
20

# Global Statement

- If a variable is assigned a value anywhere with in the function's body,it's assumed to be a local unless explicitly declared as global

In [ ]:
a = 20
def global_statement():
    global a
    print("Global :",a)
    a = 30
    print("Value of a inside function = ", a)
global_statement()
print("Value of a outside function = ", a)

Global : 20
Value of a inside function =  30
Value of a outside function =  30

In [ ]:
a = 20
def global_statement(x):
    global a
    print("Global :",a)
   # return x
    
global_statement(2)

Global : 20

2

In [ ]:
a = 20
def without_global_statement(a):
    print("without global :",a)
    #return a    
without_global_statement(2)

without global : 2

# Functions Calling Functions
## Return Statement

In [ ]:
def first_function(n):
  return n + 1
    
def second_function(n):
  return n + 2 # return statement is used to return a value from the function / break out of a function.

In [ ]:
second_function(10)

12

In [ ]:
def first_function(n):
  return n + 1
    
def second_function(n):
  return first_function(n) + 2

In [ ]:
second_function(10)

13

In [ ]:
def area_rect(l,b):
    if l<0 or b<0:
        return # if function does not return anything, the default value function return is none
    else:
        print("Length = {}, Breadth = {}".format(l,b))
        return l*b
    
    
area_rect(-1,6)

# Return Multiple Values to variable(s)

In [ ]:
def square_cube(num):
    print("Number = ", num)
    return num*num, num*num*num


square,cube=square_cube(4)
print("Square = ", square, "Cube = ", cube)

Number =  4
Square =  16 Cube =  64

# Write a program to find cube of a number and check if the cube is divisible by 3 or not (Hint : use one function in function)

In [ ]:
def cube(number):
  return number**3
def by_three(number):
  if number%3 == 0:
    result = cube(number)
    return result
  else:
    return False

In [ ]:
by_three(9)

False

# Built in Functions

# One Example of how to use a built in Function

### ( *args)  used to write anythings in it as a input

In [ ]:
def biggest_number(*args):
  print(max(args))
  return max(args)
    
def smallest_number(*args):
  print(min(args))
  return min(args)

def distance_from_zero(arg):
  print(abs(arg))
  return abs(arg)

In [ ]:
biggest_number(-10, 20.5,67,98,700)

700

700

In [ ]:
biggest_number(-10, -5, 5, 10)

10

10

In [ ]:
smallest_number(-10, -5, 5, 10)

-10

-10

In [ ]:
distance_from_zero(-10)

10

10

In [ ]:
def dd(*args):
    return str(args)

In [ ]:
dd("python")

"('python',)"

In [ ]:
print(type(45))
print(type(4.5))
print(type("Hello"))

<class 'int'>
<class 'float'>
<class 'str'>

## Write factors of a numbers

In [ ]:
def factors():
    
    num = int(input("Enter a number to find factors of number :"))
    for i in range(1,num+1):
        if num%i == 0:
            print(i)

In [ ]:
factors()

Enter a number to find factors of number :20
1
2
4
5
10
20

In [ ]:
import math 
# from math import *
# from math import sqrt

In [ ]:
print(math.sqrt(64))

8.0

In [ ]:
import math # Imports the math module
everything = dir(math) # Sets everything to a list of things from math
print(everything) # Prints 'em all!

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
def shut_down(s):
  if s == "yes":
    return "Shutting Down"
  elif s == "no":
    return "Shutdown Aborted"
  else:
    return "Sorry"
shut_down("yes")

'Shutting Down'

In [ ]:
# Write a program to create a function and print the absolute value of number if the type of number is int or float.

In [ ]:
def distance_from_zero(num):
  if type(num) == int or type(num) == float:
    return abs(num)
  else:
    return "Nope"

In [ ]:
distance_from_zero(-15.6)

15.6

# Tasks

- Calculate distance between two points sqrt((x2-x1)^2 + (y2-y1)^2)
- For a Quadratic Equation ax^2 + bx + c the discriminant D is (b^2 - 4ac). Write a function to compute the discriminant D, that returns the following output depending on the discriminant D.
  
  ***Conditions:***
      - if D>0: The Equation has two Real roots
      - if D=0: The Equation has one Real root
      - if D<0: The Equation has two Complex roots.

# Changing the functionality of a function

### Change the function so the given argument is multiplied by 3 and returned.

In [ ]:
number = 5

def my_function(x):
  return x * 3

print(my_function(number))

15

# More than one argument

### Shows how to use more than one argument in a function.

In [ ]:
m = 5
n = 13
# Add add_function here!
def add_function(x,y):
  return x+y


print(add_function(m, n))

18

# Strings in functions

In [ ]:
n = "Hello"
# Your function here!
def string_function(s):
  return s+' world'


print(string_function(n))

Hello world

# Passing a list to a function

### Can pass a list to a function the same way you pass any other argument to a function.

In [ ]:
def list_function(x):
  return x

n = [3, 5, 7]
print(list_function(n))

[3, 5, 7]

In [ ]:
def list_function(x):
  return x[1]

n = [3, 5, 7]
print(list_function(n))

5

# Modifying an element of a list in a function

In [ ]:
def list_function(x):
  x[1] = x[1] + 3
  return x

n = [3, 5, 7]
print(list_function(n))
print(n)

[3, 8, 7]
[3, 8, 7]

# List manipulation in functions

### You can also append or delete items of a list inside a function just as if you were manipulating the list outside a function.

In [ ]:
n = [3, 5, 7]
# Add your function here
def list_extender(lst):
  lst.append(9)
  return lst


print(list_extender(n))

[3, 5, 7, 9]

# Printing out a list item by item in a function

### The below code shows how to utilize every element in a list in a function.

In [ ]:
n = [3, 5, 7]

def print_list(x):
  for i in range(0, len(x)):
    print(x[i])
    
print_list(n)

3
5
7

# Modifying each element in a list in a function

### The below code shows how to modify each element in a list.

In [ ]:
n = [3, 5, 7]

def double_list(x):
  for i in range(0, len(x)):
    x[i] = x[i] * 2
  return x
# Don't forget to return your new list!

print(double_list(n))

[6, 10, 14]

# Passing a range into a function

### The Python range() function is just a shortcut for generating a list, so you can use ranges in all the same places you can use lists.

In [ ]:
a = []
def my_function(x):
  for i in range(0, len(x)):
    a.append(i)
  return a

print(my_function(range(3))) # Add your range between the parentheses!

[0, 1, 2]

# Iterating over a list in a function

In [ ]:
n = [3, 5, 7]

def total(numbers):
  result = 0
  for item in numbers:
    result = result + item
  return result
  
print(total(n))

15

# Using strings in lists in functions

In [ ]:
n = ["Michael", "Lieberman"]
# Add your function here
def join_strings(words):
  result = ''
  for item in words:
    result = result + item
  return result


print(join_strings(n))

MichaelLieberman

# Using two lists as two arguments in a function

### Using multiple lists in a function is no different from just using multiple arguments in a function!

In [ ]:
m = [1, 2, 3]
n = [4, 5, 6]

# Add your code here!
def join_lists(x,y):
  return x + y


print(join_lists(m, n))
# You want this to print [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

# Using a list of lists in a function

### The below code shows how to make use of a single list that contains multiple lists and how to use them in a function.

In [ ]:
n = [[1, 2, 3], [4, 5, 6, 7, 8, 9]]
# Add your function here
def combine(lists):
  results = []
  for list1 in lists:
    for number in list1:
      results.append(number)
  return results

print(combine(n))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lists = [[1, 2, 3], [4, 5, 6, 7, 8, 9]]
results= []
for i in lists:
    for j in i:
        results.append(j)

In [ ]:
results

[1, 2, 3, 4, 5, 6, 7, 8, 9]