<a href="https://colab.research.google.com/github/HemavathiRamamoorthy/Python/blob/main/LoopsAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Print First 10 natural numbers using while loop

In [ ]:
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

# 2. Display -10 to -1 using for loop

In [ ]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# 3. Write a python program to print the factorial of a given number

In [ ]:
def factorial(n):
     
    return 1 if (n==1 or n==0) else n * factorial(n - 1);
 

num = 5;
print("Factorial of",num,"is",factorial(num))

Factorial of 5 is 120

# 4. Write a python program to print all prime numbers between 0 to 100 , and print how many prime numbers are there.

In [ ]:
primeList=[]
for num in range(0, 101):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
          # print(num)
           primeList.append(num)


          
print('Prime numbers in between 0 to 100 are \n',primeList)
print('Number of prime numbers are ',len(primeList))

Prime numbers in between 0 to 100 are
 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
Number of prime numbers are  25

# 5. Print the following pattern : 
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [ ]:
def numpat(n):
    num = 1
    for i in range(0, n):
        num = 1
        for j in range(0, i+1):
            print(num, end=" ")
            num = num + 1
     
        print("\r")
 
n = 5
numpat(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 6. Accept n number from user and calculate the sum of all number between 1 and n including n

In [ ]:
n = int(input("Enter number ::  "))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of numbers is: ", sum)

Enter number ::  5
Sum of numbers is:  15

#7. Given a number count the total number of digits in a number.

In [ ]:
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:34579564
The number of digits in the number are: 8

# 8. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [ ]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Input a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

#9. Reverse the following list using for loop list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
reversedList=[]
for i in range( len(list1) - 1, -1, -1) :
    reversedList.append(list1[i])


print(reversedList)

[50, 40, 30, 20, 10]

# 10. Write a Python program to construct the following pattern, using a nested for loop.  (Star pattern)

*
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
k=3
for i in range(9):
    if i<=4:
        for j in range(i+1):
            print(" * ",end="")
        print("\n")
    elif i>4 :
        for j in range(k+1):
            print(" * ",end="")
        print("\n")
        k=k-1

 *

 *  *

 *  *  *

 *  *  *  *

 *  *  *  *  *

 *  *  *  *

 *  *  *

 *  *

 *

# 11. Write a Python program that accepts a string and calculate the number of digits and letters.

In [ ]:
s = input("Input a string :: ")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass

print("Digits", d)
print("Letters", l)

Input a string ::  Hai Welcome 1343943
Digits 7
Letters 10

# 12. From a list containing ints, strings and floats, make three lists to store them separately.

In [ ]:
w=[2, 3.0,4.3,"hello world", 5, 4.3]
x=[]
y=[]
z=[]

for i in w:
    if type(i)==int:
        x.append(i)
    elif type(i)==float:
        y.append(i)
    elif type(i)==str:
        z.append(i)

print("Integer List :: ",x)
print("String List  :: ",z)
print("Float List   :: ",y)

Integer List ::  [2, 5]
String List  ::  ['hello world']
Float List   ::  [3.0, 4.3, 4.3]