<a href="https://colab.research.google.com/github/HemavathiRamamoorthy/Python/blob/main/PandasAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Define and create a Dataframe using Pandas.

**A** Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Create DataFrame
A pandas DataFrame can be created using various inputs like −

1.   Lists
2.   dict
3.   Series
4.   Numpy ndarrays
5.   Another DataFrame

In [ ]:
import pandas as pd  
import numpy as np

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
firstDataFrame = pd.DataFrame(data,columns=['Name','RollNo'])
print (firstDataFrame)

     Name  RollNo
0    Alex      10
1     Bob      12
2  Clarke      13

# 2. How can we calculate the standard deviation from the series.

Using .std() function, we can calculate Standard deviation from the series

---

In [ ]:
# Creating the Series
sr = pd.Series([10,20,30,50,80,45,50,90])
  
#Calculate standard deviation for the series
print(sr.std())

27.637642549868207

# 3. Create a Dataframe using List given below:
lis=[‘Python’,’Numpy’,’Pandas’]

In [ ]:
#create list of string
lis=['Python','Numpy','Pandas']
#create dataframe using the list
dframe = pd.DataFrame(lis)
#print dataframe
print(dframe)

        0
0  Python
1   Numpy
2  Pandas

# 4. Create a Series from dictionary given below:
info = {'x' : 0., 'y' : 1., 'z' : 2.}

In [ ]:
# create a dictionary named info
info = {'x' : 0., 'y' : 1., 'z' : 2.}
# create a series
series = pd.Series(info)
#print series
print(series)

x    0.0
y    1.0
z    2.0
dtype: float64

# 5. How will you create an empty Dataframe in Pandas?

In [ ]:
# create an Empty DataFrame object
emptyDataFrame = pd.DataFrame()
  
print(emptyDataFrame)

Empty DataFrame
Columns: []
Index: []

# 6. i) Add a column to that pandas Dataframe that you created in Q1
ii) Change index of that Dataframe.

In [ ]:
#data = [['Alex',10],['Bob',12],['Clarke',13]]
#firstDataFrame = pd.DataFrame(data,columns=['Name','RollNo'])
#print (firstDataFrame)

#i) Adding a column to pandas DataFrame that created in Q1
firstDataFrame.insert(2, "Age", [21, 23, 24], True)
print(firstDataFrame)

     Name  RollNo  Age
0    Alex      10   21
1     Bob      12   23
2  Clarke      13   24

In [ ]:
# ii)  Change index of DataFrame
firstDataFrame.set_index('RollNo')

          Name  Age
RollNo
10        Alex   21
12         Bob   23
13      Clarke   24

# 7. Get the following from this dataframe:

import random
A = [ random.randint(0,100) for i in range(10) ]
B = [ random.randint(0,100) for i in range(10) ]
df = pd.DataFrame({ 'field_A': A, 'field_B': B })
i) mean
ii) median
iii) mode
iv) 75th percentile
v) 90th percentile
vi) 99th percentile

In [ ]:
import random
A = [ random.randint(0,100) for i in range(10) ] 
B = [ random.randint(0,100) for i in range(10) ] 
df = pd.DataFrame({ 'field_A': A, 'field_B': B }) 
print(df)
print('\ni) Mean Calculation')
print(df.mean())
print('\nii) Median Calculation')
print(df.median())
print('\niii) Mode Calculation')
print(df.mode())
print('\niv) 75th percentile')
print(df.quantile(0.75))
print('\nv) 90th percentile')
print(df.quantile(0.9))
print('\nvi) 99th percentile')
print(df.quantile(0.99))

   field_A  field_B
0       84       78
1       62        4
2       22       87
3       37        8
4       68        1
5       77       51
6       15       42
7        1       55
8        3       62
9       78       38

i) Mean Calculation
field_A    44.7
field_B    42.6
dtype: float64

ii) Median Calculation
field_A    49.5
field_B    46.5
dtype: float64

iii) Mode Calculation
   field_A  field_B
0        1        1
1        3        4
2       15        8
3       22       38
4       37       42
5       62       51
6       68       55
7       77       62
8       78       78
9       84       87

iv) 75th percentile
field_A    74.75
field_B    60.25
Name: 0.75, dtype: float64

v) 90th percentile
field_A    78.6
field_B    78.9
Name: 0.9, dtype: float64

vi) 99th percentile
field_A    83.46
field_B    86.19
Name: 0.99, dtype: float64

# 8. How do you count how many unique rows a DataFrame has (i.e.

ignore all rows that are duplicates)?

In [ ]:
#Create a DataFrame
d = {
    'Name':['Alisa','Bobby','jodha','jack','raghu','Cathrine',
            'Alisa','Bobby','kumar','Alisa','Alex','Cathrine'],
    'Age':[26,24,23,22,23,24,26,24,22,26,24,24]
}
dataFrm = pd.DataFrame(d,columns=['Name','Age'])
#print original dataFrame
print('\nDisplay DataFrame with duplicate rows\n',dataFrm)
# get the unique values (rows)
uniqueRowDataFrame= dataFrm.drop_duplicates()
#print dataFrame after removing duplicate rows
print('\nDisplay UniqueRows\n',uniqueRowDataFrame)
#print count of unique rows
print('\nUnique Row count is',len(uniqueRowDataFrame))

Display DataFrame with duplicate rows
         Name  Age
0      Alisa   26
1      Bobby   24
2      jodha   23
3       jack   22
4      raghu   23
5   Cathrine   24
6      Alisa   26
7      Bobby   24
8      kumar   22
9      Alisa   26
10      Alex   24
11  Cathrine   24

Display UniqueRows
         Name  Age
0      Alisa   26
1      Bobby   24
2      jodha   23
3       jack   22
4      raghu   23
5   Cathrine   24
8      kumar   22
10      Alex   24

Unique Row count is 8

# 9. How to keep only top 2 most frequent values as it is and replace
everything else as ‘Other’? Take the following as input.

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [ ]:
import numpy as np
np.random.RandomState(100) 
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Original Series:")
print(ser)
print("\nTop 2 Freq:\n", ser.value_counts())
result = ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
print(ser)

Original Series:
0     3
1     4
2     1
3     2
4     3
5     3
6     4
7     4
8     2
9     3
10    2
11    1
dtype: int64

Top 2 Freq:
 3    4
4    3
2    3
1    2
dtype: int64
0         3
1         4
2     Other
3     Other
4         3
5         3
6         4
7         4
8     Other
9         3
10    Other
11    Other
dtype: object

# 10. A DataFrame has a column of groups 'grps' and and column of
integer values 'vals':

df = pd.DataFrame({'grps':
list('aaabbcaabcccbbc'),
'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235,
21, 57, 3, 87]})

For each group, find the sum of the three greatest values. You
should end up with the answer as follows:

grps
a 409
b 156
c 345

In [ ]:
df = pd.DataFrame({'grps': 
list('aaabbcaabcccbbc'), 
'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235, 
21, 57, 3, 87]}) 
df.groupby('grps')['vals'].apply(lambda grp: grp.nlargest(3).sum())

grps
a    409
b    156
c    345
Name: vals, dtype: int64

# Create a dataframe for the following to answer the next few
questions data = {'animal': ['cat', 'cat', 'snake', 'dog',
'dog', 'cat',
'snake', 'cat', 'dog', 'dog'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no',
'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 
'dog', 'cat', 
'snake', 'cat', 'dog', 'dog'], 
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']} 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data , index=labels)
print('\nPrint dataframe \n',df)

Print dataframe
   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

# 11. Display a summary of the basic information about this
DataFrame and its data (hint: there is a single method that can
be called on the DataFrame).

In [ ]:
#df = pd.DataFrame(data , index=labels)
print('\n Display Info using describe\n ',df.describe(include='all'))

 Display Info using describe
         animal       age     visits priority
count      10  8.000000  10.000000       10
unique      3       NaN        NaN        2
top       dog       NaN        NaN       no
freq        4       NaN        NaN        6
mean      NaN  3.437500   1.900000      NaN
std       NaN  2.007797   0.875595      NaN
min       NaN  0.500000   1.000000      NaN
25%       NaN  2.375000   1.000000      NaN
50%       NaN  3.000000   2.000000      NaN
75%       NaN  4.625000   2.750000      NaN
max       NaN  7.000000   3.000000      NaN

# 12. Select the rows where the age is between 2 and 4 (inclusive).

In [ ]:
print(df[df['age'].between(2, 4)])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

# 13. Select the data in rows [3, 4, 8] and in columns ['animal','age'].

In [ ]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

# 14. Select the rows where the age is missing, i.e. it is NaN.

In [ ]:
print(df[df['age'].isnull()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

# 15. Select the rows where the animal is a cat and the age is less than 3

In [ ]:
print(df[(df['animal']=='cat') & (df['age'] < 3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

# 16. Change the age in row 'f' to 1.5.

In [ ]:
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

# 17. In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df['animal'] = df['animal'].replace('snake', 'python')
print(df)

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c  python  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g  python  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no

# 18. Count the number of each type of animal in df.

In [ ]:
df['animal'].value_counts()

cat       4
dog       4
python    2
Name: animal, dtype: int64

# 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [ ]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

# 20. For each animal type and each number of visits, find the mean
age. In other words, each row is an animal, each column is a
number of visits and the values are the mean ages (hint: use a
pivot table).

In [ ]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN